@model IEnumerable<Article>
@{
    ViewData["Title"] = "主页";
}



<!--在/Home/Index页面循环输出每篇文章-->
<div class="center-block article-bg" id="html-content">
    @foreach (var item in Model)
    {
        <div>
            <div class="article-title">
                <h1><a asp-controller="Article" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a></h1>
            </div>
            <div class="article-datetime">
                <span class="glyphicon glyphicon-time" style="margin-right:5px;"></span>
                @Html.DisplayFor(modelItem => item.ReleaseDateTime)

                <span class="glyphicon glyphicon-tags" style="margin-left:15px;margin-right:5px;"></span>
                @Html.DisplayFor(modelItem => item.Type)
            </div>
        </div>


        <div style="font-size:1.3em">
            @Html.DisplayFor(modelItem => item.Content)
        </div>
        <hr />
    }
</div>
